
<div class="container">
 <div class="fb-comment-embed" data-href="https://www.facebook.com/heartsandbonesband/?fref=ts" data-width="300" data-include-parent="false"></div>
  <p>Hearts &amp; Bones &copy; <%= Time.now.year %></p>
</div>
