
// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
  @include clearfix;

  @include media($medium-screen) {
    border-bottom:none;
  }
  background-color: $white-smoke;
}

//.site-main {}
.module {
  @include section_padding(2em);
}
.site-footer {
  @include section_padding(1em);
  border-top: 1px solid #eee;
}

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------
h1 {color: #8ec1cd;}
h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
  color: #006699;
}
a {color: #8ec1cd;}
p {font-family: Gotham SSm,sans-serif;}

// ------------------------------------------------------------
// Index page
// ------------------------------------------------------------
// ------------------------------------------------------------
// Hero Image responsive
// ------------------------------------------------------------
.hero-bg {
  img {
    width: 100%;
    height: auto;
  }
  position: relative;
  display: block;
  overflow: hidden;
//max-height: 600px;
}

.panel-welcome {
  h1 {
    color: #8ec1cd;
    font-size: 42px;
  }
  width: 100%;
  padding-bottom: 16px;
  text-align: center;
}


// ------------------------------------------------------------
// Band page  responsive
// ------------------------------------------------------------
.band-wrapper {
  h1 {color: #8ec1cd;}
  @include outer-container;
  img {
    width: 550px;
    height: auto;
  }
  @include media($medium-screen) {
    .panel-band {
      @include span-columns(6);
    }
  }
  .panel-band-content {
    @include media($medium-screen) {
      @include span-columns(6);
      font-size: 30px;
      strong {
      font-weight: 600;
      line-height: 34px;
      }
    }
  }
}

// ------------------------------------------------------------
// Music page  responsive
// ------------------------------------------------------------
.music-wrapper {
  @include outer-container;
  @include media($large-screen) {
    .section-misic-r {
      @include span-columns(6);
    }
  }
  .section-misic-l {
    @include media($large-screen) {
      @include span-columns(6);
    }
  }
}

// ------------------------------------------------------------
// Gallery page  responsive
// ------------------------------------------------------------
.popup-gallery {
  img {
    width: 100%;
    height: auto;
  }
  @include media($large-screen) {
  img {
    width: 260px;
    height: auto;
  }
}
}

// remove bg color on the modal
.mfp-arrow-left:hover, .mfp-arrow-right:hover, .mfp-close:hover {
  /* box-shadow: inset 0 1px 0 0 #628cc8; */
  /* cursor: pointer; */
  background:rgba(0,0,0,0.0) !important;
  background-image:none !important;
  box-shadow: none !important;
}

.mfp-arrow-left:active, .mfp-arrow-right:active, .mfp-close:active {
  border: none !important;
  box-shadow: none !important;
}


/////////////////// hover image column
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
