
// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
  @include clearfix;

  @include media($medium-screen) {
    border-bottom:none;
  }
  background-color: $white-smoke;
}

//.site-main {}
.module {
  @include section_padding(2em);
}
.site-footer {
  @include section_padding(1em);
  border-top: 1px solid #eee;
}

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
  color: #006699;
}
a {color: #8ec1cd;}
p {font-family: Gotham SSm,sans-serif;}


// ------------------------------------------------------------
// Hero Image responsive
// ------------------------------------------------------------
.hero-bg {
  img {
    width: 100%;
    height: auto;
  }
  position: relative;
  display: block;
  overflow: hidden;
//max-height: 600px;
}

.panel-welcome {
  h1 {
    color: #8ec1cd;
    font-size: 42px;
  }
  width: 100%;
  padding-bottom: 16px;
  text-align: center;
}

// ------------------------------------------------------------
// Bad page  responsive
// ------------------------------------------------------------
.band-wrapper {
  @include outer-container;
  img {
    width: 550px;
    height: auto;
  }
  @include media($medium-screen) {
    .panel-band {
      @include span-columns(6);
    }
  }
  .panel-band-content {
    @include media($medium-screen) {
      @include span-columns(6);
      font-size: 30px;
      strong {
      font-weight: 600;
      line-height: 34px;
      }
    }
  }
}

// ------------------------------------------------------------
// Music page  responsive
// ------------------------------------------------------------
.music-wrapper {
  @include outer-container;
  @include media($large-screen) {
    .section-misic-r {
      @include span-columns(6);
    }
  }
  .section-misic-l {
    @include media($large-screen) {
      @include span-columns(6);
    }
  }
}

////
