
// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
  @include clearfix;

  @include media($medium-screen) {
    border-bottom:none;
  }
  background-color: $white-smoke;
}

//.site-main {}
.module {
  @include section_padding(2em);
}
.site-footer {
  @include section_padding(1em);
  border-top: 1px solid #eee;
}

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------
h1 {color: #8ec1cd;}
h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
  color: #006699;
}
a {color: #8ec1cd;}
p {font-family: Gotham SSm,sans-serif;}

// ------------------------------------------------------------
// Index page
// ------------------------------------------------------------
// ------------------------------------------------------------
// Hero Image responsive
// ------------------------------------------------------------
.hero-bg {
  img {
    width: 100%;
    height: auto;
  }
  position: relative;
  display: block;
  overflow: hidden;
//max-height: 600px;
}

.panel-welcome {
  h1 {
    color: #8ec1cd;
    font-size: 42px;
  }
  width: 100%;
  padding-bottom: 16px;
  text-align: center;
}


// ------------------------------------------------------------
// Band page  responsive
// ------------------------------------------------------------
.band-wrapper {
  h1 {color: #8ec1cd;}
  @include outer-container;
  img {
    width: 550px;
    height: auto;
  }
  @include media($medium-screen) {
    .panel-band {
      @include span-columns(6);
    }
  }
  .panel-band-content {
    @include media($medium-screen) {
      @include span-columns(6);
      font-size: 30px;
      strong {
      font-weight: 600;
      line-height: 34px;
      }
    }
  }
}

// ------------------------------------------------------------
// Music page  responsive
// ------------------------------------------------------------
.music-wrapper {
  @include outer-container;
  @include media($large-screen) {
    .section-misic-r {
      @include span-columns(6);
    }
  }
  .section-misic-l {
    @include media($large-screen) {
      @include span-columns(6);
    }
  }
}

// ------------------------------------------------------------
// Gallery page  responsive
// ------------------------------------------------------------
.popup-gallery {
  img {
    width: 100%;
    height: auto;
  }
  @include media($large-screen) {
  img {
    width: 260px;
    height: auto;
  }
}
}

// remove bg color on the modal
.mfp-arrow-left:hover, .mfp-arrow-right:hover, .mfp-close:hover {
  /* box-shadow: inset 0 1px 0 0 #628cc8; */
  /* cursor: pointer; */
  background:rgba(0,0,0,0.0) !important;
  background-image:none !important;
  box-shadow: none !important;
}

.mfp-arrow-left:active, .mfp-arrow-right:active, .mfp-close:active {
  border: none !important;
  box-shadow: none !important;
}
// ------------------------------------------------------------
// Band page hero unit
// ------------------------------------------------------------
.inside{
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 250px;
}

.image{
  display: inline-block;
  background-image: url("../images/group1.jpg");
  background-size: cover;
  background-position: 10% 10%;
  width:100%;
  height: 600px;
}
.image:before{
  content:"";
  display: block;
  width: 100%;
  height: 600px;
  position: absolute;
  background: rgba(25, 29, 34, 0.75);
}
.text-over-image{
  color: #fff;
  text-align: center;
  font: 400 2.875em/1.30435 "brandon-grotesque", sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 2.875em;
  line-height: 1.30435;
  font-family: brandon-grotesque, sans-serif;
  letter-spacing: 0.075em;
  min-height: 1.46em;
  text-transform: uppercase;
}
// ------------------------------------------------------------
// Band page
// ------------------------------------------------------------
.card-warpper {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards {
  padding-right: 10px;
  @include media($medium-screen) {
    img {
      vertical-align: middle;}
      max-width: 25%;
      float: left;
      background-color: white;
      border-radius: 0.25rem;
      box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    &:hover {
      .card-image {
        filter: contrast(100%);
      }
    }
  }

  .card-image {
    img {
      width: 100%;
      height: auto;
    }
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(70%);
    //filter: saturate(180%);
    overflow: hidden;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
    display: block;
  padding-top: 10px; // 16:9 aspect ratio
  }
}
.card-text {
  padding: 1em;
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  span {
    font-size: 2em;
  }
}
