---
title: hearts and bones band | Band
---


<div class="container module">
  <div class="band-wrapper">
    <h1> THE BAND</h1>
    <section class="panel-band">
      <%= image_tag 'group1.jpg' %>
    </section>
    <blockquote class="panel-band-content">
     <strong> Poncho Paradise</strong>- Writer, Vocals, Bass, Guitar<br>
     <strong> Richard Strick</strong>- Writer, Vocals, Guitar<br>
      <strong>Dennis Mahoney</strong>- Drums, Percussion<br>
     <strong> Kent Hayden</strong>- Arranger, Guitar<br>
    </blockquote>
  </div>
</div>
