---
title: hearts and bones band | Band
---

<div class="row">
  <div class="col-md-12">
    <div class="image">
      <div class="inside">
        <h1 class="text-over-image">The Band</h1>
      </div>
    </div>
  </div>
</div>
<!-- -->

<div class="container">
<div class="card-wrapper">

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'richard.png' %>
    </div>
    <div class="card-text">
      <span>Richard Strick</span>
      <p>
        Writer, singer, performer - has a long
        history on the bay area music scene.
        His own solo music is available on CDbaby and at
        performances.
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'richard.png' %>
    </div>
    <div class="card-text">
      <span>Richard Strick</span>
      <p>
        Writer, singer, performer - has a long
        history on the bay area music scene.
        His own solo music is available on CDbaby and at
        performances.
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'richard.png' %>
    </div>
    <div class="card-text">
      <span>Richard Strick</span>
      <p>
        Writer, singer, performer - has a long
        history on the bay area music scene.
        His own solo music is available on CDbaby and at
        performances.
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'richard.png' %>
    </div>
    <div class="card-text">
      <span>Richard Strick</span>
      <p>
        Writer, singer, performer - has a long
        history on the bay area music scene.
        His own solo music is available on CDbaby and at
        performances.
      </p>
    </div>
  </div>

  </div>
</div>
