---
title: hearts and bones band | Band
---



<div class="container module">
  <figure class="memeber-band">
    <div class="image">
      <%= image_tag 'poncho.png' %>
    </div>
    <figcaption>
      <h2>Denim Shirt</h2>
      <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
    </figcaption>
  </figure>

   <figure class="memeber-band">
    <div class="image">
      <%= image_tag 'poncho.png' %>
    </div>
    <figcaption>
      <h2>Denim Shirt</h2>
      <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
    </figcaption>
  </figure>

   <figure class="memeber-band">
    <div class="image">
      <%= image_tag 'poncho.png' %>
    </div>
    <figcaption>
      <h2>Denim Shirt</h2>
      <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
    </figcaption>
  </figure>

   <figure class="memeber-band">
    <div class="image">
      <%= image_tag 'poncho.png' %>
    </div>
    <figcaption>
      <h2>Denim Shirt</h2>
      <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
    </figcaption>
  </figure>s

</div>
