---
title: hearts and bones band | Band
---

<section class="hero">
  <section class="panel-band-content">
    <h1>The Band</h1>
   <p>Hearts & Bones</p>
  </section>
</section>

<!-- -->
<br>

<div class="container">
<h1>Musicians  </h1>
<div class="card-wrapper">

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'richard.png' %>
    </div>
    <div class="card-text">
      <span>Richard Strick</span>
      <p>
        Writer, singer, performer - has a long
        history on the bay area music scene.
        His own solo music is available on <a href="http://www.cdbaby.com/cd/richardstrick" target="blank">
          CDbaby
        </a>  and at
        performances.
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'dennis.png' %>
    </div>
    <div class="card-text">
      <span>Dennis Mahoney</span>
      <p>
        - Drummer - drives the rhythm
        using his strong sense of percussive accents.
        Now he chairs Hearts & Bones and keeps the energy up.
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'kent.png' %>
    </div>
    <div class="card-text">
      <span>Kent Hayden</span>
      <p>
        -Guitar, keyboards - has played in
        rock, jazz and big band settings. Always
        striving for the Dynamics that Hearts and Bones puts out,
        he contributes to the sound that makes it unique.
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="card-image">
      <%= image_tag 'poncho.png' %>
    </div>
    <div class="card-text">
      <span>Poncho Paradise</span>
      <p>
        Writer, singer and performer-
        is a longstanding solo act playing around
        San Fransisco and now in the Lake and Sonoma County.
        Poncho's songcan be sampled at iTunes under his band names,
        WITHOUT MIRRORS or PONCHO PARIDES.
      </p>
    </div>
  </div>

  </div>
</div>


