<!--
<div class="container">

	<h1>Testing Blog</h1>
	<%= lorem.sentences 3 %>	

	<% blog.articles[0...5].each do |article| %>
  <article>
    <h1>
      <a href="<%= article.url %>"><%= article.title %></a>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h1>
  </article>
<% end %>
</div>
-->

<div class="container">
<h1>Events</h1>
  
</div>
