---
title: hearts and bones band |Events
---
<div class="container">
  <h1>Events</h1>
  <hr>
  <h2>Mc Carty's Bar</h2>
  <p>
    Ninth Annual Musician's Memorial Jam <br>
    6951 East Rd. Redwood Valley, CA <br>
    March 5th @ 8pm
  </p>

  <h2>Drinx </h2>
  <p>
    370 S. Main St. Lakeport, CA <br>
    March 11th 9pm - 11pm <br>
  </p>

  <h2>May 26th @ The Spot</h2>
  <p>6pm - 9pm </p>

  <h2>June 23rd @ The Spot</h2>
  <p>6pm - 9pm</p>

  <h2>July 16th @ The Spot</h2>
  <p>2pm - 5pm</p>

  <h2>August 13th @ The Spot</h2>
  <p>2pm - 5pm</p>

  <h2> August 18th @ HVL Day on the Green</h2>
  <p>Time: TBA</p>

  <h2>September 10th @ The Spot</h2>
  <p>2pm - 5pm</p>

  <h2>October 8th @ The Spot</h2>
  <p>2pm - 5pm</p>                

</div>
