---
title: hearts and bones band |Events
---
<div class="container">
  <h1>Events</h1>
  <hr>
  <h2>Mc Carty's Bar</h2>
  <p>
    Ninth Annual Musician's Memorial Jam <br>
    6951 East Rd. Redwood Valley, CA <br>
    March 5th @ 8pm
  </p>

  <h2>Drinx </h2>
  <p>
    370 S. Main St. Lakeport, CA <br>
    March 11th 9pm - 11pm <br>
  </p>
</div>
