---
title: hearts and bones band
---
<div class="hero-bg">
  <%= image_tag 'groupheader.jpg' %>
</div>

<div class="container module">
<section class="panel-welcome">
    <h1>HEARTS & BONES</h1>
    <p>
      New to you (Nov 18, 2016): We're in the process of recording our first group CD.
      Along with Richard and Poncho's solo works,
      these will be for sale at our gigs and on CD Baby when we post to that marketplace.
    </p>
  </section>
</div>
<!-- -->

