---
title: hearts and bones band
---
<div class="hero-bg">
  <%= image_tag 'group3.jpg' %>
</div>

<div class="panel-welcome-wraper">
  <div class="container">
    <section class="panel-welcome">
      <h1>HEARTS & BONES</h1>
      <p>
        New to you (2/10/17): <strong><%= link_to 'Upcoming shows;', '/events.html', :relative => true %></strong>
        
      </section>
    </div>
  </div>
<!-- -->

<div class="container">
  <div class="band-wrapper">
    <section class="panel-band">
      <%= image_tag 'group1.jpg' %>
    </section>
    <blockquote class="panel-band-content">
     <strong> Poncho Paradise</strong>- <span>Writer, Vocals,Bass, Guitar</span><br>
     <strong> Richard Strick</strong>- <span>Writer, Vocals, Guitar</span><br>
      <strong>Dennis Mahoney</strong>- <span>Drums, Percussion</span><br>
     <strong> Kent Hayden</strong>- <span>Arranger, Guitar</span><br>
    </blockquote>
  </div>
</div>






