---
title: hearts and bones band
---
<div class="hero-bg">
  <%= image_tag 'group3.jpg' %>
</div>

<div class="panel-welcome-wraper">
  <div class="container module">
    <section class="panel-welcome">
      <h1>HEARTS & BONES</h1>
      <p>
        New to you (Nov 18, 2016): We're in the process of recording our first group CD.
        Along with Richard and Poncho's solo works,
        these will be for sale at our gigs and on CD Baby when we post to that marketplace.
      </p>
    </section>
  </div>
</div>
<!-- -->

<div class="container">
  <div class="band-wrapper">
    <section class="panel-band">
      <%= image_tag 'group1.jpg' %>
    </section>
    <blockquote class="panel-band-content">
     <strong> Poncho Paradise</strong>- Writer, Vocals, Bass, Guitar<br>
     <strong> Richard Strick</strong>- Writer, Vocals, Guitar<br>
      <strong>Dennis Mahoney</strong>- Drums, Percussion<br>
     <strong> Kent Hayden</strong>- Arranger, Guitar<br>
    </blockquote>
  </div>
</div>

