---
title: hearts and bones band | Music
---


<div class="container">
<div class="music-wrapper">
<h1> MUSIC - VIDEOS AND SOUND </h1>
  <div class="music-wrapper">
    <section class="section-misic-r">
    <p>Videos- Unedited and live</p>
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/nAXNryyzeYA' frameborder='0' allowfullscreen></iframe></div>
    </section>

    <section class="section-misic-l">
    <p>Helen of Troy at the Forestville Club, July 23 2016</p>
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/LwC7ITuweXc' frameborder='0' allowfullscreen></iframe></div>
    </section>
  </div>

</div>
</div>
